//COLORS
$color-primary: #f0f0f0;
$color-primary-light: #f3f3f3;
$color-primary-dark: #a8a8a8;

$color-secondary: #202020;
$color-secondary-light: #4c4c4c;
$color-secondary-dark: #161616;

$color-white: #ffffff;
$color-black: #000000;

$color-tertiary-light: #d500f9;
$color-tertiary-dark: #9500ae;

$color-gray-light-1: rgb(53, 53, 53);
$color-gray-light-2: #202020;

$color-gray-dark: rgb(235, 233, 233);
$color-gray-dark-2:rgb(235, 233, 233);
$color-gray-dark-3: #5d5d5d    ;



//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
